@font-face {
    font-family: digital-7;
    src: url(./assets/Digital7Mono-Yz9J4.ttf)
}

body {
    font-family: Arial, sans-serif;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(#90ee909f, #90ee902f);
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*================== CALCULATOR ==================*/

.calculator {
    transform: rotateX(5deg);
    background-color: lightgray;
    box-shadow: inset -15px -15px darkgray,inset 3px 3px #F0F0F0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    border: 1px solid #ccc;
    padding: 10px 25px 25px 10px;
    border-radius: 5px 25px 5px 25px;
    margin: 0 auto;
}

.calculator input[type="text"] {
    width: 95%;
    box-shadow: inset -5px -5px black, -2px -2px #F0F0F0;
    font-family: digital-7, sans-serif;
    color: limegreen;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 28px;
    background: #050505;
}

.calculator button {
    border-radius: 5px;
    box-shadow: 5px 5px darkgray, inset -3px -3px darkgray, inset 3px 3px white;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    transition: all 0.05s ease-in-out;
    text-shadow: 1px 1px darkgray;
}

.calculator button:active,
.calculator button.active {
    translate: 5px 5px;
    box-shadow: 1px 1px darkgray, inset 3px 3px darkgray;
}

#key_0 {
    width: 45%;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

/*=================== CALCULATOR ==================*/

/*==================== HISTORY ====================*/

.history{
    position: absolute;
    left: 55px;
    background: #050505;
    color:limegreen;
    width: 350px;
    height: 80%;
    border-radius: 5px;
    font-family: digital-7, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history h1{
    width: 100%;
    height: 50px;
    text-align: center;
}

.history h1::after {
    content: "";
    width: 80%;
    height: 2px;
    background-color: limegreen;
    position: absolute;
    left: 10%;
    top: 65px;
}

#historyContainer{
    min-width: 90%;
    max-height: 75%;
    min-height: 75%;
    overflow-y: scroll;
}

#historyContainer div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#historyContainer p {
    margin: 10px 10px 0 0;
    font-size: 20px;
}

.calcul_expression {
    padding-top: 0;
}

.calcul_result {
    padding-bottom: 30px;
}

#historyContainer::-webkit-scrollbar {
    width: 7px;
}

/* Piste (background) */
#historyContainer::-webkit-scrollbar-track {
    background: #050505; /* Couleur de fond */
}

#historyContainer::-webkit-scrollbar-thumb {
    background: limegreen;
    border-radius: 2px;
}

#historyContainer::-webkit-scrollbar-thumb:hover {
    background: green;
}

.historyFooter{
    padding-top: 15px;
    display: flex;
    width:70%;
    flex-direction: row;
    justify-content: space-between;
}

.history_button{
    background-color: transparent;
    border-radius: 5px;
    border-inline: 2px solid;
    border-color: limegreen;
    width: 50px;
    height: 50px;
    margin: 5px;
    transition: all 0.1s ease-in-out;
}

.history_button:hover {
    background-color: #32cd322f;
}

.download:active {
    translate: -2px 2px;
    width: 46px;
    height: 46px;
}

.delete:active {
    translate: 2px 2px;
    width: 46px;
    height: 46px;
}

.download_icon, .delete_icon{
    color: limegreen;
}

/*==================== HISTORY ====================*/

/*================= INSTRUCTIONS ==================*/

.instruction{
    position: absolute;
    right: 55px;
    border-radius: 5px;
    font-family: digital-7, sans-serif;
    background-color: #050505;
    color: limegreen;
    padding: 10px 25px;
}

.instruction h1{
    width: 100%;
    height: 50px;
    text-align: center;
}

.instruction h1::after {
    content: "";
    width: 80%;
    height: 2px;
    background-color: limegreen;
    position: absolute;
    left: 10%;
    top: 65px;
}

.instruction p{
    font-size: 20px;
}